body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
}

#start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#game-container {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 2px solid #000;
}

#snake-head, #apple {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

#apple {
    position: absolute;
    left: 0;
    top: 0;
    /* Ajusta las dimensiones de la imagen de la manzana según sea necesario */
    width: 50px;
    height: 30px;
    /* Elimina cualquier borde alrededor de la imagen */
    border: none;
    /* Ajusta el relleno y el margen para asegurarte de que no haya espacio adicional alrededor de la imagen */
    padding: 0px;
    margin: -5px;
    /* Asegúrate de que la imagen tenga un fondo transparente */
    background-color: transparent;
}
.snake-body {
    background-color: green;
}

.hidden {
    display: none;
}
