body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.word-container {
  margin-bottom: 20px;
}

.word-container span {
  border-bottom: 1px solid #000;
  margin: 0 5px;
  padding-bottom: 5px;
  font-size: 24px;
}

.wrong-letters-container {
  margin-bottom: 20px;
}

.wrong-letters {
  display: inline-block;
}

.wrong-letters span {
  margin: 0 5px;
  padding: 5px;
  background-color: #ffcccc;
  border-radius: 5px;
}

.attempts-text {
  margin-bottom: 10px;
}

.letter-input {
  padding: 10px;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #c410d4;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #8a0e9b;
}
